{{ define "main" }}
{{ if isset .Params "banner" }}
	<img src="/images/{{ .Params.banner }}" style="height: auto; width: 100%;" />
{{ end }}
<span>
	<h1>{{ .Title }}</h1>

	{{ partial "post-meta" . }}
</span>

<p>
	{{ .Content }}
</p>  

{{ template "_internal/disqus.html" . }}
{{ end }}