<span>
    <h1>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>

    {{ partial "post-meta" . }}
</span>
{{ if isset .Params "banner" }}
    <p style="text-align: center; padding-top: 1em">
        <img src="/images/{{ .Params.banner }}" style="height: auto; width: 95%;" />
    </p>
{{ end }}

<p>
    {{ .Summary }}
    <a href="{{ .Permalink }}">Continuer la lecture</a>
</p>
<hr>
