<section>
	<header class="major">
		{{ with .Site.Params.about.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	</header>
	{{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}
</section>
